<div class="container">
  <div class="contactus-container">
    <h1>Contact Us</h1>

    <ul class="list-unstyled">
      {{#each model as |contactusaddress|}}
        <li class="card">
          <address>
            <div class="country">{{contactusaddress.country}}</div>
            <div>{{contactusaddress.address}},</div>
            <div>{{contactusaddress.country}}</div>

            {{#if contactusaddress.phone}}
              <div class="telephone">Tel: <b>{{contactusaddress.phone}}</b></div>
            {{/if}}

            {{#if contactusaddress.email}}
              <div>Email: <b>{{contactusaddress.email}}</b></div>
            {{/if}}
          </address>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
